.title-bar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #005cbb;
    background: #d7e3ff;
}

.title {
    font-weight: bold;
}

.main-content,
.title-bar{
    padding: 10px;
}